<div class="container">
  <p id="notice"><%= notice %></p>
  <br>
  
  <div class="col-md-12 col-xs-12 col-sm-12">
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
    <%= link_to 'Back', products_path, class: "btn btn-default" %>
  </div>
  
  <br><br><br>
  
  <div class="col-md-4 col-sm-6 col-xs-12">
  <%= image_tag(@product.image_url, class: "img-responsive thumbnail") %>
  </div>
  
  
  <div class="col-md-8 col-sm-6 col-xs-12">
    <p>
      <h1><%= @product.name %></h1>
      
    </p>
    
    <p>
      <%= @product.description %>
    </p>
    
    
    <p>
      This model is a <strong><%= @product.colour%> </strong> one.
    </p>
    
    <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
    
    <p>
      <h2>U$ <%= @product.price %></h2>
    </p>
    
 
    
  </div>
  
  
  
  
  <br><br><br><br><br>
    

  
  <br>

  <div class="col-md-6 col-xs-8 col-sm-6 col-md-offset-4">
    <%= render partial: 'new_comment' %>
    <%= render partial: 'comments' %>
    <%= will_paginate @comments %>
  </div>
  
  

</div>
