<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  
  <link href='https://fonts.googleapis.com/css?family=Raleway:100,300,500' rel='stylesheet' type='text/css'>
  
  <!-- Jquery -->
  
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  
  
  
  
</head>
<body>
  
  <div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" id="myNav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "home", static_pages_landing_page_path %></li>
          <li><%= link_to "synths", static_pages_about_path %></li>
          <li><%= link_to "buy", products_path %></li>
          <li><%= link_to "contact", static_pages_contact_path %></li>
        </ul>
          
          <%= form_tag("/products", method: "get", class: 'navbar-form navbar-right') do %>
          <div class="form-group">
            <%= text_field_tag(:q, '', class: 'form-control') %>
          </div>
            <%= submit_tag("Search", class: 'btn btn-default') %>
          <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </div>
        
  <div class="page-wrap">
  <%= yield %>
  </div>
  
  <br><br><br><br><br>
  <footer>
    
    <div class="footer">
      <div class="text-center">
        <br>
        &copy; 2015 the institute
      </div>
    </div>
  </footer>
  
</body>
</html>
